{% extends categories.html %}
{% load static %}
<html>
  <body>
    <div class="container">
        <div class="section">
            <h2>Category Update</h2>
            <div class="form-group"><form class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" placeholder="name" value="">
            <label for="floatingInputValue">Enter name for new Category</label>
            </form>
                <input type="text">
            </div>
            <button style="--bs-success">Submit</button>
    </div>
   </body>
</html>